springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui/index.html
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
    filter: true
    display-request-duration: true
    url: /v3/api-docs
    config-url: /v3/api-docs/swagger-config
    validator-url: ''
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
